.product-details {
    display: block;
    margin-top: 86px;
}

.product-details .col-2 {
    width: 450px;
    max-width: 100%;
}

.product-details .col-2 .title {
    font-size: 50px;
    line-height: 4rem;
    font-weight: bold;
}

.product-details .price {
    font-size: 22px;
    color: #1e2427;
    font-weight: 200;
    display: inline-block;
    margin: 20px 0;
    background: #379237;
    padding: 6px 8px;
    border-radius: 8px;
    color: #fffeef;
}

.product-details .quantity {
    color: #3a3a3a;
    font-size: 20px;
    display: block;
}

.product-details input {
    margin-left: 14px;
    border: 0;
    padding: 10px 20px;
    background: transparent;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 0 8px #102030;
}

.product-details .size {
    display: block;
    margin: 32px 0 20px;
    width: 230px;
    max-width: 100%;
    padding: 12px 10px;
    border: 0;
    outline: 0;
    box-shadow: 0 0 8px #102030;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.product-details .btn {
    border-radius: 10px;
    background-color: #FED049;
}

.gallery {
    display: flex;
    width: 100%;
}

.gallery .item {
    flex-basis: 50%;
    max-width: 120px;
    margin: 20px 5px;
    cursor: pointer;
    transition: transform 0.4s;
    box-shadow: 0 5px 12px #CFD2CF;
}

.gallery .item:hover {
    transform: scale(1.1);
}

.gallery .item img {
    width: 100%;
}

.container {
    background: transparent !important;
}

.all-products h1 {
    margin: 0;
    font-size: 40px;
}

.container .all-products {
    margin-bottom: -300px;
}

.container h1::after {
    display: none;
}

@media only screen and (max-width:800px) {
    .product-details {
        margin-top: 110px;
    }

    .product-details .col-2:last-child {
        text-align: center;
        margin-top: 20px;
    }

    .product-details .col-2 .title {
        font-size: 26px;
        margin: 14px 0;
        line-height: 1rem;
    }

    .product-details .price {
        text-align: start;
        margin-left: 8px;
        font-size: 22px;
    }

    .product-details .quantity {
        text-align: start;
        font-size: 24px;
    }

    .product-details input,
    .product-details .size {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    .all-products h1 {
        margin: 0;
        font-size: 20px;
        line-height: 0;
    }
}